*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

body{
	font-family: Helvetica;
	line-height: 1.7;
}

.container{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.title__pixel{
    font-size: 7rem;
    margin: 0.2rem;
}

.grid__heading{
	font-size: 2.5rem;
}

.form__grid{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.input__container{
	display: inline-block;
	margin-right: 5rem;
}

.input__label{
	font-size: 1.6rem;
}

input[type=number] {
    width: 15rem;
	height: 2rem;
	border-radius: 1rem;
	outline: none;
}

#input__submit{
	width: 8rem;
	height: 3rem;
	border-radius: .5rem;
	outline: none;
}

#picker__color{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.canvas-heading{
	margin-bottom: 2rem;
}

table, tr, td {
    border: .1rem solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 2rem;
}

td {
    width: 2rem;
}